#about-header{
    background-image: url(assets/bg11.png);
    height: 80vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about-header-wrap{
    display: flex;
    flex-direction: column;
    padding: 100px;
    align-items: center;
    justify-content: center;
    width: 70%;
}


#about-header-title{
    font-size: 72px;
    font-weight: 300;
    padding-bottom: 80px;
}

#about-matter{
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
}